/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  max-width: 600px; /* Ajusta el ancho máximo según tus preferencias */
  margin: 10px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
  color: #333;
}

/* Estilos para formularios */
form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input[type="text"], textarea {
  width: 100%; /* Cambiado de 10% a 100% para ocupar todo el ancho disponible */
  padding: 10px;
  margin-bottom: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Estilos para la lista de tareas */
.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  overflow: hidden;
}

.task-item p {
  margin: 0;
}

.task-item a {
  display: inline-block;
  margin-top: 10px;
  color: #4caf50;
  text-decoration: none;
  margin-right: 10px;
}

.task-item a:hover {
  text-decoration: underline;
}

/* Estilos para el mensaje de error/success */
.message {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.error {
  background-color: #f44336;
  color: #fff;
}

.success {
  background-color: #4caf50;
  color: #fff;
}
