body{
  font-size: 14 px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#centrado{
  text-align: center;
}

#error{
  color: red;
}

img{
  display: block;
  margin: auto;
  border:solid 1px black ;
}

table{
  margin: auto;
}

